html, body, button, input, table, td, th {
  font-family: "nta", Arial, sans-serif;
}

table#status_table {
  font-size: 14px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 285px;
  height: 400px;
}

#header {
  background-color: #005ea5;
  color: white;
  padding: 5px;
}

.status_cell {
  padding: 5px;
  color: white;
}

.status_cell.green{
  background-color: #009900;
}

.status_cell.red{
  background-color: #e60000;
}

.status_cell.amber{
  background-color: #ff6600;
}

#notes_cell {
  padding: 0px;
}

#notes_div {
  padding: 5px;
  overflow: hidden;
  height: 155px;
  border:solid 1px black;
  color: black;
  word-wrap: break-word;
  margin: 0;
  font-size: 12px;
}

#notes_text {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  margin:0;
}

#notes_heading {
  font-weight: bold;
  line-height: 150%;
}

input.email, input.password {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-container {
  padding: 16px;
  border: 3px solid #f1f1f1;
  margin: 150px auto;
  width: 30%;
}
@media screen and (max-width: 900px) {
  .login-container {
    width: 60%;
  }
}

div.error {
  background-color: #e4134f;
}

p.message {
  padding: 20px;
  margin: 0 0 32px;
  color: #fff;
}

.service-card {
  margin: 16px;
}

.service-card footer {
  padding: 20px;
}

span.sign-out {
  margin: 20px;
  text-decoration: underline;
  cursor: pointer;
}

div.toolbar {
  float: right;
}

.toolbar i {
  cursor: pointer;
}

.textarea {
  margin: 10px;
}
